<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form action="fileupload" id="input1" method="post" enctype="multipart/form-data">
    <input type="file" name="filetoupload" multiple><br/>
    <input type="submit">
  </form>

  <form action="reset" method="get" enctype="multipart/form-data">
    <input type="submit" value= "reset">
  </form>

  <div>Arrary1
    <div>showArray1</div>
  </div>
  <div>Arrary2
    <div>showArray2</div>
  </div>
</body>
</html>
